{% comment %}-----------------------header section-----------------------{% endcomment %}
<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    {% comment %} navbar section {% endcomment %}
    <section>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">about</a></li>
            <li><a href="#">course</a></li>
          </ul>
        </div>
      </nav>
    </section>